<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MailFunnels | {% block title %}{% endblock %}</title>
    <!-- plugins:css -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('plugins/iconfonts/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/iconfonts/puse-icons-feather/feather.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/css/vendor.bundle.addons.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/iconfonts/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('icons/custom_icons.css') }}" />
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mf-style.css') }}">
    <!-- endinject -->

    <link href="{{ asset('css/mf-base.css') }}" rel="stylesheet"/>


    {% block stylesheets %}{% endblock %}

</head>


<body>
<div class="container-scroller">

    <!-- TOP NAV BAR HEADER -->
    {% include 'components/base/header.html.twig' %}

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        <!-- START SIDE NAV BAR -->
        {% include 'components/base/side_nav.html.twig' %}
        <!-- END SIDE NAV BAR -->


        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                {% block body %}{% endblock %}

            </div>
            <!-- content-wrapper ends -->

            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018 <a href="http://www.mailfunnels.com" target="_blank">MailFunnels</a>. All rights reserved.</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->

    {% block modals %}{% endblock %}

</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="{{ asset('plugins/js/vendor.bundle.base.js') }}"></script>
<script src="{{ asset('js/base/jquery-ui.min.js') }}"></script>
<script src="{{ asset('plugins/js/vendor.bundle.addons.js') }}"></script>



<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{{ asset('js/pearl/off-canvas.js') }}"></script>
<script src="{{ asset('js/pearl/hoverable-collapse.js') }}"></script>
<script src="{{ asset('js/pearl/misc.js') }}"></script>
<script src="{{ asset('js/pearl/settings.js') }}"></script>
<script src="{{ asset('js/pearl/todolist.js') }}"></script>
<!-- Tooltips JS -->
<script src="{{ asset('js/pearl/tooltips.js') }}"></script>

<!-- endinject -->

{#<script src="{{ asset('js/auth.js') }}"></script>#}


<!-- Custom js for this page-->
{% block javascripts %}{% endblock %}
<!-- End custom js for this page-->

</body>

</html>
